body {
    background: linear-gradient(90deg, #46A098 0%, #54A654 100%);
    color: #fff;
    font-family: "PT Sans", sans-serif;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    background-color: #9846A0;
    padding: 1rem;
    position: relative;
}

.toggle {
    background-color: #9846A0;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: .2775rem;
}

.toggle span {
    font-size: .875rem;
    text-transform: uppercase;
}

.menu a {
    text-decoration: none;
    color: #fff;
}

.menu li {
    font-size: 1.125rem;
    text-transform: uppercase;
    text-align: center;
    line-height: 3.5rem;
    border-bottom: .0625rem solid #fff;
}

.menu li:first-of-type {
    border-top: .0625rem solid #fff;
}

.menu li:last-of-type {

}

header nav {
    position: absolute;
    top: 4.9375rem;
    left: 0;
    background-color: #9846A0;
    width: 100vw;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.7s ease-in-out;
    padding: 0 1rem ;
    padding-bottom: 2.5rem;
}

.show-nav {
    max-height: 100vh;
}

.hero {
    padding: 2rem 1rem;
}

h1 {
    font-size: 2rem;

}

h1 span {
    font-size: 2.5rem;
    font-weight: 700;
}

p {
    font-size: 1rem;
    margin: 1.5rem 0 2.5rem 0;
}

.cta {
    background-color: #9846A0;
    padding: .75rem 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    margin-top: 1.5rem;
}